.header{
    &__country{
        display: block;
        padding: 19px 0 19px 0;
    }
    &__flag{
        margin-left: -36px;
    }
    &__text{
        justify-content: space-between;
        padding-left: 1px;
        margin-top: -26px;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        span{
            font-size: 14px;
            font-weight: 700;
        }
    }
    &__phone{
        color: #242424;
        &:hover {
            color: #242424;
            text-decoration: none;
        }
    }
}