.module{
    min-height: 900px;
    padding: 80px 0 80px 0;
    &__first, &__second{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    img{
        z-index: 1;
    }
    &__subtitle{
        font-size: 18px;
        font-weight: 300;
        margin-top: -82px;
        text-align: center;
        z-index: 2;
    }
    &__png{
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 86px;
        &_animated{
            animation-name: pointer;
            animation-duration: 1.4s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
    &__png2{
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: -25px;
        &_animated{
            animation-name: pointer;
            animation-duration: 1.4s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
    h1{
        margin-top: 33px;
        text-align: center;
        font-size: 48px;
        font-weight: bold;
    }
    &__second{
        margin-top: 37px;
    }
}