.promo{
    min-height: 700px;
    padding: 39px 0 0 0;
    background: url(../img/promo_img.jpg) center (center/cover) no-repeat;
    &__wrapper{
        display: block;
        margin-top: 133px;
    }
    &__tabs{
        display: flex;
        justify-content: space-between;
        padding-left: 460px;
        margin-top: -30px;
        font-size: 13px;
        font-weight: bold;
        text-align: right;
        color: #ffffff;
        text-transform: uppercase;
        list-style-type: none;
    }
    &__title{
        font-size: 42px;
        line-height: 48px;
        font-weight: 700;
        color: #ffffff;
    }
    &__subtitle{
        margin-top: 27px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 200;
        color: #ffffff;
        span{
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}