@media (max-width: 1200px){
    .brunch{
        &__carousel{
            width: 85%;
            img{
                width: 98%;
            }
        }
        .slick-next {
            right: -37px;
        }
    }
}
@media (max-width: 575px){
    .brunch{
        min-height: 460px;
        .slick-prev{
            left: -30px;
        }
        .slick-next {
            right: -25px;
        }
    }
}