@media (max-width: 767px){
    .button{
        &_main{
            display: block;
            margin: 0 auto;
        }
    }
}
@media (max-width: 991px){
    .button{
        &_main{
            display: block;
            margin: 0 auto;
        }
    }
}