@media (max-width: 1200px){
    .module{
        padding: 80px 0 80px 30px;
        &__first, &__second{
            img{
                width: 90%;
            }
        }
        &__subtitle{
            margin-left: -30px;
            margin-top: -73px;
        }
    }
}
@media (max-width: 991px){
    .module{
        min-height: 750px;
        &__subtitle{
            font-size: 13px; 
            margin-top: -55px;
        }
    }
}
@media (max-width: 575px){
    .module{
        padding: 60px 0 70px 35px;
        min-height: 750px;
        &__first, &__second{
            flex-direction: column;
            margin: 0 auto;
            img{
                margin-top: 15px;
            }
        }
        &__subtitle{
            font-size: 13px; 
            margin-top: -55px;
        }
    }
}